# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables file
.env

# Database files
*.sqlite3
*.db

# Django migration files
*/migrations/*
!*/migrations/__init__.py

# Static files
/static/

# Media files
/media/
